body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
th,td
{
padding:5px;
}

.boton{
border:0;
}

.cuerpo{
background-image: url(paperplane.png);
background-size: 100% 100%;
}